<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% load i18n %}

<head>
    <title>{% block title %}{% trans "Sign in" %}{% endblock %}</title>
    <style type="text/css">
        input.openid
        {
            background: url('{{ logo }}') no-repeat 0 50%;
            padding-left: 16px;
        }
    </style>
    {% block extra_head %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>
