{% extends base_template %}

{% load i18n %}

{% block title %}{% trans "Log in with your OpenID" %}{% endblock %}

{% block content %}

<h1>{% trans "Log in with your OpenID" %}</h1>

{% if message %}
    <p class="message">{{ message }}</p>
{% endif %}

<form action="{{ action }}" method="post">{% csrf_token %}
    <p>
        <input class="openid" type="text" name="openid_url">
        <input type="submit" value="{% trans "Sign in" %}">
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
    </p>
</form>

{% endblock %}
