{% extends base_template %}

{% load i18n %}

{% block title %}{% trans "Sign in" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign in" %}</h1>

{% if message %}
    <p class="message">{{ message }}</p>
{% endif %}

<h2>{% trans "With your username and password" %}</h2>

<form method="post" action="{{ action }}">{% csrf_token %}
    <p>
        <input type="text" name="username" />
        <input type="password" name="password" />
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <input type="submit" value="{% trans "Sign in" %}" />
    </p>
</form>

<h2>{% trans "Or with your OpenID" %}</h2>

<form method="post" action="{{ action }}">{% csrf_token %}
    <p>
        <input class="openid" type="text" name="openid_url" />
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <input type="submit" value="{% trans "Sign in" %}" />
    </p>
</form>

{% if account_recovery %}
    <p>{% trans "Lost your password or can't log in with OpenID?" %} <a href="{{ account_recovery }}">{% trans "Recover your account" %}</a>.</p>
{% endif %}

{% endblock %}
