{% extends base_template %}

{% load i18n %}

{% block title %}{% trans "Create an Account" %}{% endblock %}

{% block content %}

<h1>{% trans "Create an Account" %}</h1>

{% if message %}
    <p class="message">{{ message }}</p>
{% endif %}

{% if not openid %}
    <p>{% blocktrans %}Do you have an <a href="http://openid.net/" rel="external">OpenID</a>? Try our <a href="#openid">OpenID registration</a>!{% endblocktrans %}</p>
{% endif %}

<h2>{% trans "Required information" %}</h2>

{% if openid %}
    <p>{% blocktrans %}Your OpenID <strong>{{ openid }}</strong> will be associated with this account.{% endblocktrans %} (<a href="{% url openid-logout %}?next={{ no_thanks }}">{% trans "no thanks" %}</a>)</p>
{% endif %}

<form method="post" action="{{ action }}">{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>

    {% if openid %}
        <p>{% trans "Since you are using OpenID you don't need to set a password. You can set one later if you change your mind." %}</p>
    {% endif %}

    <p><input type="submit" value="{% trans "Create my Account" %}" /></p>
</form>

{% if not openid %}
    <form method="post" action="{{ action }}">{% csrf_token %}
        <h2 id="openid">{% trans "Use OpenID to create your Account" %}</h2>

        <p>
            <label for="openid_url">{% trans "Got an OpenID? Log in with it now:" %}</label>
            <input type="text" class="openid" name="openid_url" id="openid_url" />
        </p>
        <p>
            <input type="submit" value="{% trans "Register with OpenID" %}" />
        </p>
    </form>
{% endif %}

{% endblock %}
